body{ 
  max-width: 900px;
  margin: 0 auto;
}

header{
  display: flex;
  padding: 5px;
  border-bottom: 10px solid transparent;
  border-image-source: url(img/hr-img.png);
  border-image-repeat: repeat;
}
#logo{
  float:left;
  width: 48px;
}
#titletext , #subtitle{
  padding-left: 50px;

}
#titletext{
  font-size: 2em;
}

#headerRight{
  display:inherit;
  margin-left: 390px;
}

#iconbank1{
  display: inline;
  margin-right:15px;
 
}
#iconbank2{
  justify-content: flex-end;
  margin-left:  15 px;
 
}

.instructions{
  text-indent: 30px;
  line-height: 1.25em;
  padding: 15px 0px;
  font-size: 1.25em;
}

#ingrediants{
  display: flex;
  justify-content: center;

}
